<div class="row">
    <div class="col-md-{{@PAGE.colSize ? @PAGE.colSize : 6}}">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{@PAGE.title}}</h6>
            </div>
            <div class="card-body">
                {{@MESSAGE | raw}}
                <form action="{{@SITE.url}}/admin/{{@SINGLE}}/{{@CSRF}}" method="post" enctype="multipart/form-data">
                    <repeat group="{{@FIELDS}}" value="{{@FIELD}}">
                        <div class="form-group">
                            <label for="{{@FIELD.key}}"><strong>{{@FIELD.title}}</strong></label>
                            <check if="{{@FIELD.select}}">
                                <true>
                                    <select class="form-control" name="rim_{{@FIELD.key}}" id="{{@FIELD.key}}">
                                        <option value="" disabled selected>{{@LANG_ADMIN_37}} {{@FIELD.title}}</option>
                                        <repeat group="{{@FIELD.select}}" value="{{@name}}" key="{{@key}}">
                                            <option value="{{@key}}">{{@name}}</option>
                                        </repeat>
                                    </select>
                                </true>
                                <false>
                                    <check if="{{@FIELD.textarea}}">
                                        <true>
                                            <textarea id="{{@FIELD.key}}" aria-describedby="{{@FIELD.key}}" placeholder="{{@LANG_ADMIN_38}} {{@FIELD.title}}"
                                                name="rim_{{@FIELD.key}}" class="form-control"
                                                rows="{{@FIELD.textarea}}"></textarea>
                                        </true>
                                        <false>
                                            <input type="{{@FIELD.type}}" name="rim_{{@FIELD.key}}" class="form-control" id="{{@FIELD.key}}"
                                                aria-describedby="{{@FIELD.key}}" step="{{@FIELD.step}}" {{@FIELD.minmax | raw}} placeholder="{{@LANG_ADMIN_38}} {{@FIELD.title}}">
                                        </false>
                                    </check>
                                </false>
                            </check>
                            <small id="{{@FIELD.key}}" class="form-text text-muted">{{@FIELD.helpText | raw}}</small>
                        </div>
                    </repeat>
                    <button class="btn btn-success btn-block">{{@LANG_ADMIN_34}}</button>
                </form>
            </div>
        </div>
    </div>
</div>