<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{@TABLE_NAME}}</h6>
    </div>
    <div class="card-body">
        {{@MESSAGE | raw}}
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
						<check if="{{@SHOW_PK}}">
							<th>{{@LANG_ADMIN_39}}</th>
						</check>
                        <repeat group="{{@COLUMNS}}" value="{{@COLUMN}}">
                            <th>{{@COLUMN}}</th>
                        </repeat>
                        <th>
							{{@LANG_ADMIN_40}}
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
						<check if="{{@SHOW_PK}}">
							<th>{{@LANG_ADMIN_39}}</th>
						</check>
                        <repeat group="{{@COLUMNS}}" value="{{@COLUMN}}">
                            <th>{{@COLUMN}}</th>
                        </repeat>
                        <th>
							{{@LANG_ADMIN_40}}
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <repeat group="{{@RECORDS}}" value="{{@RECORD}}">
                        <tr>
							<check if="{{@SHOW_PK}}">
								<td>{{@RECORD.id}}</td>
							</check>
                            <repeat group="{{@RECORD.data}}" value="{{@DATA}}">
                                <td>{{@DATA}}</td>
                            </repeat>
                            <td>
								<repeat group="{{@RECORD.links}}" value="{{@LINK}}">
									<a href="{{@LINK.link}}" title="{{@LINK.title}}">
										<i class="fas {{@LINK.icon}} fa-fw"></i></a>
									</a>
								</repeat>
                                <a href="{{@SITE.url}}/admin/{{@SINGLE}}/edit/{{@RECORD.id}}/{{@CSRF}}" title="{{@LANG_ADMIN_41}} {{@SINGLE}}">
                                    <i class="fas fa-edit fa-fw"></i></a>
                                </a>
                                <a href="#" onclick="removeConfirm('{{@SITE.url}}/admin/{{@SINGLE}}/delete/{{@RECORD.id}}/{{@CSRF}}');" title="{{@LANG_ADMIN_42}} {{@SINGLE}}">
                                    <i class="fas fa-trash-alt fa-fw"></i></a>
                                </a>
                            </td>
                        </tr>
                    </repeat>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>