<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Multi Product Order Form :: Rimtay Software">
    <meta name="author" content="Rimtay Software">

    <title>Multi Product Order Form :: Rimtay Software</title>

    <!-- Custom fonts for this template-->
    <link href="{{@SITE.url}}/static/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{@SITE.url}}/static/admin/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    {{@MESSAGE | raw}}
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Multi Product Order Form</h1>
                                    </div>
                                    <form class="user" action="{{@SITE.url}}/admin/login" method="post">
										<div class="form-group">
											<input type="text" class="form-control form-control-user" name="username" value="{{@DEMO_UN ? @DEMO_UN : ''}}"
												placeholder="{{@LANG_ADMIN_198}}">
										</div>
										<div class="form-group">
											<input type="password" class="form-control form-control-user" name="password" value="{{@DEMO_PW ? @DEMO_PW : ''}}"
												placeholder="{{@LANG_ADMIN_199}}">
										</div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" value="rimtay" name="rememberme" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">{{@LANG_ADMIN_197}}</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            {{@LANG_ADMIN_200}}
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="https://support.rimtay.com">{{@LANG_ADMIN_196}}</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="https://software.rimtay.com">Rimtay Software</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{@SITE.url}}/static/admin/vendor/jquery/jquery.min.js"></script>
    <script src="{{@SITE.url}}/static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{@SITE.url}}/static/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{@SITE.url}}/static/admin/js/sb-admin-2.min.js"></script>

</body>

</html>